/* Google font link */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

/* Shared styles */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Azeret Mono", "Inter", monospace;
  max-width: 1440px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

nav,
main {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.btn-primary {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 17px 24px;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}

/* ===================================================== */

/* Header section style start */

/* NavBar section style start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid green; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav-title {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
}

nav a {
  text-decoration: none;
}
/* NavBar section style end */

/* ----------------------------------------------------------- */

/* Banner section style start */
#banner {
  /* border: 2px solid green; */
  background-image: url(../assets/Hero-bg.png);
  padding: 26px 221px 44px;
  margin-bottom: 154px;
}

.banner {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.banner-title {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}

#banner-btn {
  color: rgb(255, 255, 255);
  padding: 21px 24px;
  background-color: rgb(13, 19, 33);
}
/* Banner section style end */

/* ---------------------------------------------------- */

/* Header section style end */

/* ==================================================== */

/* Main section style start */

/* ---------------------------------------------------- */

/* Why web dev section style start */
.moto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
}

.moto-2 {
  flex-direction: row-reverse;
}

.moto-contents {
  width: 477px;
  height: 219px;
}

.moto-title {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.moto-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.moto-btn {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  background: transparent;
  margin: 2rem 0;
  cursor: pointer;
}
/* Why web dev section style end */

/* ------------------------------------------------------- */

/* Inspiration section style start */
#inspiration {
  /* border: 2px solid green; */
  margin-top: 196px;
}

.inspiration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inspiration-link iframe {
  margin-top: 80px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
/* Inspiration section style end */

/* ------------------------------------------------------ */

/* Current target section style start */
#current-target {
  /* border: 2px solid blue; */
  margin-top: 150px;
}

.ct-carts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.ct-cart,
.nt-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 284px;
  padding: 40px;
  /* border: 2px solid green; */
}

.ct-cart-title,
.nt-cart-title {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.ct-cart-description,
.nt-cart-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.ct-cart-link,
.nt-cart-link {
  margin-top: 1.5rem;
}

.ct-cart-link a,
.nt-cart-link a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

#ct-cart-1 {
  background-color: #fff6f4;
}
#ct-cart-2 {
  background-color: #f2f6fe;
}
#ct-cart-3 {
  background-color: #fffdf2;
}
/* Current target section style end */

/* ---------------------------------------------------------- */

/* Next target section style start */
#next-target {
  /* border: 2px solid green; */
  margin-top: 112px;
}

.nt-cart {
  flex-direction: row;
  width: 100%;
  gap: 70px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-bottom: 2rem;
}

.nt-carts {
  margin-top: 3rem;
}

.nt-cart-img {
  width: 20%;
}

.nt-cart-title {
  margin-bottom: 1rem;
}

/* Next target section style end */

/* --------------------------------------------------- */

/* Support section style start */
#support {
  /* border: 2px solid blue; */
  margin-top: 50px;
  border-radius: 16px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../assets/handshake.jpg);
  height: 316px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#support-title {
  color: rgb(255, 255, 255);
}

#support-description {
  color: rgb(255, 255, 255);
}

#email {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  padding: 19px 20px;
  background: rgb(255, 255, 255);
  width: 548px;
}

#support-btn {
  background: rgb(255, 255, 255);
  padding: 17px 20px;
  border: none;
}
/* Support section style end */

/* ----------------------------------------------------- */

/* Main section style end */

/* ==================================================== */

/* Footer section style start */
footer {
  /* border: 2px solid green; */
  margin-top: 80px;
  background-color: rgba(13, 19, 33, 0.03);
  padding: 2rem 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

.footer-title {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

.socials img {
  margin-right: 1rem;
  cursor: pointer;
}
/* Footer section style end */
