/* Google font link */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Azeret Mono", "Inter", monospace;
  max-width: 1440px;
  margin: 0 auto;
  border: 2px solid red;
}

nav,
main {
  max-width: 1140px;
  margin: 0 auto;
}

.section-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.btn-primary {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 17px 24px;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}

/* Header section style start */

/* NavBar section style start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid green;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav-title {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}
/* NavBar section style end */

/* Banner section style start */
#banner {
    border: 2px solid green;
    background-image: url(../assets/Hero-bg.png);
    padding: 26px 221px 44px;
    margin-bottom: 154px;
}

.banner {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.banner-title {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}

#banner-btn {
    color: rgb(255, 255, 255);
    padding: 21px 24px;
    background-color: rgb(13, 19, 33);
}
/* Banner section style end */

/* Header section style end */

/* Main section style start */

/* Main section style end */

/* Footer section style start */

/* Footer section style end */
